.jumbotron {
  background-image: url(../storage/img/musubi.jpg);
  background-position: center;
  background-size: contain;
  width:100%;
  height:650px;
}

.bg-rgba {
  background-color:rgba(255,255,255,0.8);
  width: 100%;
  height: 650px;
  margin: auto;
  text-align: center;
 }

 
 // アニメーション関連
 .bg-rgba h3 {
  animation: fadeIn ;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;

 }
 .bg-rgba p {
  animation: fadeIn ;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;

 }
 
  .fade:nth-child(1){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }
  .fade:nth-child(2){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }
  .fade:nth-child(3){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }
  .fade:nth-child(4){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }
  .fade:nth-child(5){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }


  @keyframes fadeIn { /*animetion-nameで設定した値を書く*/

    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
  
  }
// ここまでアニメーション




 