.jumbotron
 {
  background-image: url(../storage/img/musubi.jpg);
  background-position: center;
  background-size: contain;
  width:100%;
  height:800px;
  font-family: 'HanziPen SC', sans-serif;
  
}
.jumbotron p{ 
  font-size: 3rem;
}


.bg-rgba {
  background-color:rgba(255,255,255,0.8);
  width: 100%;
  height: 800px;
  margin: auto;
  text-align: center;
 }

 
 // アニメーション関連
 .bg-rgba h3 {
  animation: fadeIn ;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;

 }
 .bg-rgba p {
  animation: fadeIn ;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;

 }
 
  .fade:nth-child(1){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }
  .fade:nth-child(2){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }
  .fade:nth-child(3){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }
  .fade:nth-child(4){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }
  .fade:nth-child(5){
    animation: fadeIn ;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
  
  }

// ここからサイトの説明
.concept{
  font-family: 'HanziPen SC', sans-serif;
}
.service h2{
  font-family: 'HanziPen SC', sans-serif;
}
// ここまで

// ※スクロール表現
/* 画面外にいる状態 */
.fadein {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}

  .navbar-nav {
    font-family: 'HanziPen SC', sans-serif;
  }
  .navbar-brand  {
    font-family: 'HanziPen SC', sans-serif;
  }



  // .greeting h2 {
  //   margin-bottom: 50px;
  //   text-align: center;
  //  }
   
  //  .greeting .contents {
  //   display: flex;
  //   width: 100%;
  //   justify-content: space-between;
  //   margin: 0 auto;
  //   align-items: center;
  //  }
   
  //  .greeting  figure {
  //   width: 100%;
  //  }
   
  //  .greeting .content {
  //   // width: 48%;
  //  }



// エフェクト処理
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
figure.snip1340 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  margin: 10px;
  width: 100%;
  color: #000000;
  text-align: center;
}
figure.snip1340 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1340 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1340:after {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1340 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
figure.snip1340 h2,
figure.snip1340 p {
  margin: 0;
  width: 100%;
  opacity: 0;
}
figure.snip1340 h2 {
  padding: 0 30px;
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1340 p {
  padding: 0 50px;
  font-size: 0.8em;
  font-weight: 500;
}
figure.snip1340 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1340:hover img,
figure.snip1340.hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1340:hover:after,
figure.snip1340.hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
figure.snip1340:hover figcaption h2,
figure.snip1340.hover figcaption h2,
figure.snip1340:hover figcaption p,
figure.snip1340.hover figcaption p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1340:hover figcaption h2,
figure.snip1340.hover figcaption h2 {
  opacity: 1;
}
figure.snip1340:hover figcaption p,
figure.snip1340.hover figcaption p {
  opacity: 0.7;
}
// ここまでエフェクト

  


  @keyframes fadeIn { /*animetion-nameで設定した値を書く*/

    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
  
  }
// ここまでアニメーション




 