@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);.navbar-nav {
  font-family: "HanziPen SC", sans-serif;
}

.navbar-brand {
  font-family: "HanziPen SC", sans-serif;
}

body {
  font-family: "HanziPen SC", sans-serif;
}

