@charset "UTF-8";

.jumbotron {
  background-image: url(/images/musubi.jpg?65cf2d4f77d4144eeb65bb8c0b4ea158);
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 650px;
}

.bg-rgba {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 650px;
  margin: auto;
  text-align: center;
}

.bg-rgba h3 {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bg-rgba p {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade:nth-child(1) {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade:nth-child(2) {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade:nth-child(3) {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade:nth-child(4) {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade:nth-child(5) {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }

  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }

  /*アニメーション終了時は不透明度100%*/}

@keyframes fadeIn {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }

  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  }

  /*アニメーション終了時は不透明度100%*/}

